<div class="top-header">
  <div class="logo">
    <h2>DCX-App <span>Store</span></h2>
    <p>Bootstrap Ecommerce Template</p>
  </div>

  <div class="login-box">
    <input type="text" placeholder="Enter Mail ID.." />
    <input type="password" placeholder="Enter Password" />
    <button>Login</button>
  </div>
</div>

<!-- MENU -->
<div class="menu">
  <a routerLink="" routerLinkActive="active">Home</a>
  <a>Whats New</a>
  <a>Specials</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/account" routerLinkActive="active">My Account</a>

  <div class="search">
    <input placeholder="Search..." />
    <button>Search</button>
  </div>
</div>